.block {
  min-height: 100vh;
}

.innerBlock {
  min-height: 100vh;
  margin: 2em auto;
  max-width: 60vw;
  position: relative;
  padding-top: 5em;
}

.innerMapBlock {
  max-width: 100%;
}

@media only screen
  and (min-width: 900px) {
    .innerBlock {
      font-size: 1.25em;
    }
  }
