#stories {
  height: 100%;
  padding: 2em;
}

.storiesList {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

.story {
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story:hover {
  cursor: pointer;
}

.storyImage {
  height: 300px;
  width: 300px;
  background: black;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
  transition: box-shadow 100ms ease-in;
}

.storyImage:hover {
  box-shadow: 5px 5px 0px 2px black;
}

.lineBreak {
  width: 100%;
}

.storyName {
  margin: 1em auto;
  font-size: 1em;
  font-weight: 600;
  color: #333;
}

.storyName:hover {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

@media only screen 
  and (max-width: 750px)
  and (orientation: portrait) {
    .storiesList {
      flex-direction: column;
    }

    .lineBreak {
      width: 0%;
    }

    .story {
      margin: 2em 0;
    }

    .storyImage {
      height: auto;
      width: 80vw;
      background: black;
    }

    .storyName {
      font-size: 1.2em;
    }
}
