.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}

.navList {
  list-style: none;
  font-size: 0.75em;
  padding-left: 0.5em;
  padding-top: 0.5em;
}

.navItem {
  text-transform: uppercase;
}

.navItem.selected {
  color: red;
}

@media only screen 
  and (max-device-width: 750px) {
    .nav {
      padding: 1em;
      width: 100%;
    }
  
    .navList {
      width: 100%;
      padding: 0 0 0 0;
      display: flex;
      justify-content: space-between;
    }
}