.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}

.navList {
  list-style: none;
  font-size: 0.75em;
  padding-left: 0.5em;
  padding-top: 0.5em;
}

.navItem {
  margin: 1em;
  text-transform: uppercase;
  color: #595959;
}

.navItem:before {
  content: "⁍ ";
}

.navItem:hover {
  cursor: pointer;
  text-decoration: line-through;
}

.navItem.selected {
  color: #1a1a1a;
  font-weight: 600;
}

@media only screen 
  and (max-width: 1250px) {
    .nav {
      padding: 1em;
      width: 100%;
      background: #fff9ef;
    }
  
    .navList {
      width: 100%;
      padding: 0 0 0 0;
      display: flex;
      justify-content: space-between;
    }

    .navItem {
      margin: auto;
    }

    .navItem:before {
      content: "";
    }

    .navItem:hover {
      cursor: auto;
      text-decoration: none;
    }
}